<main class="center">
    <h2>Un poco sobre mí</h2>
    <div class="infoSobreMi">


        <div class="infoSobreMi">
            <div>
                <p>Me considero una persona proactiva apasionada por el fascinante mundo del desarrollo web. </p>
                <P>Siempre estoy investigando y aprendiendo nuevos conocimientos.</P>
                <p>Te muestro algunas de la tecnologías que sé.</p>
                <p></p>
            </div>
        </div>


    </div>
</main>
<section class="center">
    <h2>Tecnologías</h2>
    <div class="tegnologias">
        <div class="tarjeta">
            <img  class="iconoTeg" src="assets/img/html-5.png" alt="Icono de tegnologia" loading="lazy">
            <h3>HTML</h3>
            <div class="infotarjeta">
                <p>HTML es un lenguaje de marcado que se utiliza para el desarrollo de páginas de Internet. Se trata de la siglas que corresponden a HyperText Markup Language, es decir, Lenguaje de Marcas de Hipertexto</p>
            </div>

        </div>
        <div class="tarjeta">
            <img class="iconoTeg" src="assets/img/css.png" alt="Icono de tegnología">
            <h3>CSS</h3>
            <div class="infotarjeta">
                <p>CSS es un lenguaje de diseño gráfico para definir y crear la presentación de un documento estructurado escrito en un lenguaje de marcado.2​ Es muy usado para establecer el diseño visual de los documentos web, e interfaces de usuario escritas en HTML o XHTML.</p>
            </div>

        </div>
        <div class="tarjeta">
            <img  class="iconoTeg" src="assets/img/sass.svg" alt="Icono de tegnología" loading="lazy">
            <h3>SASS</h3>
            <div class="infotarjeta">
                <p>Sass es un metalenguaje de Hojas de Estilo en Cascada.</p>
            </div>

        </div>
        <div class="tarjeta">
            <img  class="iconoTeg" src="assets/img/javascript.svg" alt="Icono de tegnología" loading="lazy">

            <h3>Javascript</h3>
            <div class="infotarjeta">
                <p>JavaScript es un lenguaje de programación o de secuencias de comandos que te permite implementar funciones complejas en páginas web.</p>
            </div>

        </div>

        <div class="tarjeta">
            <img  class="iconoTeg" src="assets/img/Angular_full_color_logo.svg.png" alt="Icono de tegnología" loading="lazy">
            <h3>ANGULAR</h3>
            <div class="infotarjeta">
                <p>Angular es un marco JavaScript muy utilizado para el desarrollo de aplicaciones web avanzadas, es gratuito y de fuente abierta.</p>
            </div>

        </div>

        <div class="tarjeta">
            <img  class="iconoTeg" src="assets/img/gulp.png" alt="Icono de tegnología" loading="lazy">
            <h3>Gulp</h3>
            <div class="infotarjeta">
                <p>Gulp es un task runner o build tool, es decir, es una herramienta que permite automatizar una serie de tareas dentro del desarrollo web, que se definen en un fichero.</p>
            </div>
        </div>
        <div class="tarjeta">
            <img  class="iconoTeg" src="assets/img/git.png" alt="Icono de tegnología" loading="lazy">
            <h3>GitHub</h3>
            <div class="infotarjeta">
                <p>Repositorio con funciones colaborativas para crear difrentes proeyctos web y aplicaciones.</p>
            </div>
        </div>
        <div class="tarjeta">
            <img  class="iconoTeg" src="assets/img/mysql.png" alt="Icono de tegnología" loading="lazy">

            <h3>MySQL</h3>
            <div class="infotarjeta">
                <p>Es un sistema de gestión de bases de datos relacionales de código abierto .</p>
            </div>

        </div>

    </div>





</section>
